//ABOUT
section.about {
    background: url('../img/bg-about.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;

    @include resize(mobile){
        height: auto;
        padding-top: 100px;
    }

    .container {
        height: 100%;

        .row {
            height: 100%;
            align-items: center;
               
            h2 {
                color: $primary;
            }

            .box-white {
                background-color: white;
                padding: 40px;
            }
        }
    }
}