section.careers {
    padding: 90px 0 0px;
    background: url('../img/bg-careers.jpg') left top no-repeat;
    
    button {
        background-color: $secondary;
        border: none;
        color: $font-light;
        padding: 15px 30px;
        font-size: 13px;
        font-weight: 600;

        &.submit {
            width: 300px;
        }
    }
    
    .container {
        .row {
            h2 {
                color: $primary;
            }
        }

        .card {
            margin-bottom: 5px;
            border-radius: 0;
            border: none;

            .card-body {
                padding: 20px 40px;

                h4 {
                    color: $font-dark;
                    margin: 0;
                }

                p {
                    margin: 0;
                    font-size: 13px;
                    line-height: 18px;
                }
            }
        }
    }

    .form-container {
        height: 0;
        margin-top: 50px;
        background-color: rgba($color: $primary, $alpha: 0.8);
        transition: all .5s;
        overflow: hidden;

        &.opened {
            padding: 50px 0;
            height: 780px;

            @include resize(mobile){
                height: auto;
            }
        }

        input, textarea, select {
            border: none;
            border-radius: 0;
            margin: 5px 0;
        }

        p {
            color: $font-light;
        }

        .form-check {
            padding-left: 0;
            margin-bottom: .5rem;
        }

        .form-check-label {
            color: white;
            font-size: 14px;
            line-height: 16px;            
        }
    }

    .message {
        h4 {
            color: white;
        }
    }
}