section.contact {
    padding: 55px 0 70px;

    input[type="text"], input[type="email"], input[type="phone"], textarea {
        border-radius: 0;
    }

    input[type="submit"] {
        background-color: $secondary;
        border: none;
        color: $font-light;
        padding: 15px 30px;
        font-size: 13px;
        font-weight: 600;
        width: 100%;
    }

    textarea {
        height: 122px;        
    }

    .col-submit {
        position: relative;

        .c-message {
            position: absolute;
            text-align: center;
            padding-top: 20px;
            font-size: 16px;
            font-weight: 600;
            color: #5e35b1;  
            width: 100%;      
            opacity: 0;
            transition: all .5s;

            &.show {
                opacity: 1;
            }

            @include resize(mobile){
                position: relative;
            }
        }
    }

    .container {
        .row {
            h2 {
                color: $primary;
            }
        }

        iframe {
            position: absolute;
            width: calc(100% - 30px);
            height: 500px;

            @include resize(mobile){
                position: relative;
                width: 100%;
                margin-bottom: -100px;
                margin-top: 20px;
            }
        }
    }

    .form-check {
        margin-bottom: .5rem;
    }
    
    .form-check-label {
        font-size: 14px;
        color: #666;
        line-height: 16px;
    }
}