@font-face {
    font-family: 'fontello';
    src: url('fonts/fontello.eot?25798871');
    src: url('fonts/fontello.eot?25798871#iefix') format('embedded-opentype'),
         url('fonts/fontello.woff2?25798871') format('woff2'),
         url('fonts/fontello.woff?25798871') format('woff'),
         url('fonts/fontello.ttf?25798871') format('truetype'),
         url('fonts/fontello.svg?25798871#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}