footer {
    background-color: $footer;
    height: 250px;

    .container {
        height: 100%;


        .address {           
            h3, p {
                color: white;
            }

            p:last-of-type {
                margin: 0;
            }
        }

        .credits {
            margin-top: 220px;
            margin-bottom: 0;
            text-align: right;
            font-size: 12px;
            color: rgba($color: #FFFFFF, $alpha: 0.3) !important;

            a {
                color: rgba($color: #FFFFFF, $alpha: 0.3) !important;
            }

            @include resize(mobile){
                text-align: center;
                margin-top: 60px;
            }   
        }
    }
}