html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

h1, h2 {
    letter-spacing: -1px;    
}

h2 {
    font-size: 48px;
    font-weight: normal;
    
    strong {
        font-weight: 500;
    }
}

h3 {
    font-size: 36px;
    font-weight: normal;
    
    strong {
        font-weight: 500;
    }
}

h4 {
    font-size: 24px;
    font-weight: normal;
    color: $font-light;
    
    strong {
        font-weight: 500;
    }
}



p {
    font-size: 14px;
    color: $font-dark;
    line-height: 24px;
}

a {
    text-decoration: none;

    &.button {
        &:hover {
            text-decoration: none;
        }
    }
}

button:disabled {
    opacity: .5;
}

.fontello {
    font-family: 'fontello';
}

.carousel-control-next, .carousel-control-prev {
    width: 10%;
}

.lgpd {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.8);
    color: white;
    transition: all .5s;
    height: 0;
    overflow: hidden;
    z-index: 99;

    .container {
        transition: all .2s;
        opacity: 0;
    }

    button {
        background-color: #5c93ac;
        border: none;
        color: #fff;
        padding: 11px 30px;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
    }

    a {
        color: white;
        text-decoration: underline;
    }

    &.opened {
        height: 100px;

        @include resize(mobile){
            height: 220px;
        }

        .container {
            opacity: 1;

            @include resize(mobile){
                text-align: center;
            }
        }
    }
}