header {
    position: relative;
    height: 90%;
    background-color: $primary;
    background: url('../img/bg-header.jpg') center center no-repeat;
    background-size: cover;

    @include resize(mobile){
        background: url('../img/bg-header-mobile.jpg') center center no-repeat;
        background-size: cover;
        height: 90%;
    }

    #particles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .container {
        position: relative;
        height: 100%;

        nav {
            a {
                color: $font-light;
                background-color: rgba($color: #000000, $alpha: 0);
                transition: all .3s;

                &:hover {
                    color: $font-light;
                    background-color: rgba($color: #000000, $alpha: 0.2)
                }
            }

            &.navbar {
                padding: .5rem 0;
            }
        }

        button.navbar-toggler {
            margin-top: -57px;
            color: white;            
        }

        h1 {
            position: absolute;
            bottom: -40px;
            right: 0;
            padding: 20px 50px 30px;
            color: $font-light;
            background-color: $secondary;
            font-size: 42px;
            text-align: right;
            line-height: 70px;

            .big {
                display: block;
                font-size: 90px;
            }
        }

        @include resize(mobile){
            .nav {
                display: block;
                text-align: right;
                background-color: rgba(75, 49, 158, 0.8);
                padding: 20px;

                li {
                    text-align: center;
                    padding: 5px;
                }
            }

            h1 {
                padding: 20px 20px 30px;
                font-size: 24px;
                line-height: 40px;

                .big {
                    font-size: 60px;
                }
            }
        }
    }

    a.know-solutions {
        border: 2px solid white;
        text-decoration: none;
        background-color: #ffffff;
        color: #5c93ac;
        font-size: 24px;
        height: 50px;
        line-height: 46px;
        padding: 0 50px;
        border-radius: 50px;
        margin-top: 30px;
        display: inline-block;
        text-align: center;
        transition: all .5s;

        &:hover {
            text-decoration: none;
            color: white;
            background-color: $secondary;
        }

        @include resize(mobile){
            font-size: 18px;
            height: 30px;
            line-height: 26px;
            padding: 0 30px;
            border-radius: 40px;
            margin-top: 20px;    
        }
    }
}


div.scroll {
    position: fixed;
    background-color: white;
    width: 100%;
    top: -200px;
    transition: all .5s;
    z-index: 9999;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);

    &.show {
        top: 0px;
    }

    .container {
        position: relative;

        nav {
            a {
                color: $font-dark;
                background-color: rgba($color: #000000, $alpha: 0);
                transition: all .3s;

                &:hover {
                    color: $font-light;
                    background-color: rgba($color: $primary, $alpha: 1)
                }
            }

            &.navbar {
                padding: .5rem 0;
            }
        }

        button.navbar-toggler {
            margin-top: -57px;
            color: white;            
        }

        h1 {
            position: absolute;
            bottom: -40px;
            right: 0;
            padding: 20px 50px 30px;
            color: $font-light;
            background-color: $secondary;
            font-size: 42px;
            text-align: right;
            line-height: 70px;

            .big {
                display: block;
                font-size: 90px;
            }
        }

        @include resize(mobile){
            display: none !important;
        }
    }
}
