@mixin resize($device){
  @if $device == large{
    @media only screen and(min-width: 1400px){
      @content;
    }
  }
  @else if $device == tablet{
    @media only screen and (max-width: 1024px) and (min-width: 768px){
      @content;
    }
  }
  @else if $device == mobile{
    @media only screen and (max-width: 767px) {
      @content;
    }
  }
  @else if $device == smalldesktop{
    @media only screen and (max-width: 1199px) and (min-width: 1025px){
      @content;
    }
  }
}