section.partners {
    padding: 50px 0 70px;
    background-color: $tertiary;

    @include resize(mobile){
        padding: 50px 0 50px;
    }

    .container {
        .col {
            text-align: center;

            h2 {
                color: $font-light;
            }

            hr {
                width: 100px;
                border-color: white;
                margin-top: 0px;
                margin-bottom: 50px;

                @include resize(mobile){
                    margin-bottom: 30px;
                }
            }

            .logos {
                display: flex;
                justify-content: space-between;

                div.logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 180px;
                    height: 120px;
                    background-color: rgba($color: #000000, $alpha: 0.1);
                }

                @include resize(mobile){
                    justify-content: center;

                    div.logo {
                        margin: 10px 50px;
                    }

                    .slick-dots {
                        bottom: -40px;

                        li {
                            button {
                                width: 20px;
                                height: 3px;
                                padding: 0px;
                                background: rgba($color: #FFFFFF, $alpha: 0.3);
                            }

                            &.slick-active {
                                width: 20px;
                                height: 3px;
                                padding: 0px;
                                background: rgba($color: #FFFFFF, $alpha: 1);
                            }
                        }
                    }
                }
            }
        }
    }
}