//ABOUT
section.solutions {
    background: $tertiary url('../img/bg-solutions.jpg') center center no-repeat;
    padding-top: 120px;
    padding-bottom: 50px;

    .container {
        .row {
            h2 {
                color: $font-light;
            }

            p {
                color: $font-light;
            }
        }

        .carousel-content {
            height: 300px;
            padding: 20px 100px;
            background-color: rgba($color: #000000, $alpha: 0.3);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            p {
                line-height: 22px;
                margin-top: 10px;
            }

            @include resize(mobile){
                height: 500px;
                padding: 20px 50px;

                h4 {
                    font-size: 20px;
                }
                
                p {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }
}