section.technology {
    padding: 80px 0 50px;
    background: url('../img/bg-technology.jpg') center center no-repeat;
    background-position-x: calc(50% + 290px);
    background-position-y: calc(50% + 70px);

    .container {
        @include resize(mobile){
            background-color: rgba($color: #FFFFFF, $alpha: 0.9);
        }

        .row {
            h2 {
                color: $primary;
            }

            h4 {
                color: $secondary;
                text-align: right;

                .big {
                    font-size: 30px;
                    font-weight: bold;
                    display: block;
                }
            }
        }
    }
}